.headerNav {
  width: 100%;
}

.brand {
  text-align: center;
  border-bottom: solid 1px #CCC;
  font-size: 1.4em;
  padding: 8px;
  position: fixed;
  margin-top: -36px;
  box-sizing: border-box;
  width: 100%;
  max-width: calc(1000px - 16px);
  background: #FFF;
  a {
    color: #333;
    text-decoration: none;
  }
}


.navWrapper {
  overflow: hidden;
  height: 2rem;
  border-bottom: solid 1px #CCC;
  margin-top: 36px;
  .nav {
    padding: 8px;
    overflow-x: scroll;
    height: 100px;
    ul {
      li {
        display: inline;
        margin: 0 10px;
        font-size: .9em;
        &:first-child {
          margin-left: 0;
        }
        a {
          text-decoration: none;
        }
      }
    }
  }
}
